@{
	Layout = null;
}

@{
    ViewData["Title"] = "Incorrect input";
}

<div class="text-center">
    <p class="display-4"><a href="https://localhost:7156">The data was entered incorrectly, please enter it again</a></p>
</div>
